# Created by https://www.toptal.com/developers/gitignore/api/executable
# Edit at https://www.toptal.com/developers/gitignore?templates=executable

### Executable ###
*.exe
*.vscode
*.txt

# End of https://www.toptal.com/developers/gitignore/api/executable